/*_____ ğ”…ğ”¢ğ”¤ğ”¦ğ”« listing [ğ”°ğ”¶ğ”ªğ”Ÿğ”¶ğ”ğ”«ğ”·] _____*/
.section__listing {
    margin: 100px 0px 0px 0px;
    padding: 0;
    height: 64px;
    overflow: hidden;
    position: relative;
    @media (max-width: $md4 + px) {
        height: 36px;
        padding: 0;
        margin: 70px 0px 0px 0px;
    }
}
.listing {
    width: 100%;
    background-color: #131715;

    &__content {
        height: 100%;
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: nowrap;
        height: 64px;
        @media (max-width: $md4 + px) {
            height: 36px;
        }
    }
    &__slider {
        width: 100%;
        height: 100%;
    }
    &__item {
        margin: 0px 30px 0px 0px;
        // around delete after link owl
        height: 64px;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        @media (max-width: $md4 + px) {
            height: 36px;
        }
    }

    &__item-img {
        max-width: 52px;
        flex-shrink: 0;
        display: flex;
        height: 100%;
        align-items: center;
    }

    &__item-persent {
        background: -webkit-linear-gradient(260deg, #fbee70 15%, #c28b38 50%, #e4ae40 95%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 12px;
        font-weight: 700;
        margin-right: 16px;
        margin-left: 6px;
    }

    &__item-price {
        color: #fff;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
    }
}

/*_____ ğ”ˆğ”«ğ”¡ listing [ğ”°ğ”¶ğ”ªğ”Ÿğ”¶ğ”ğ”«ğ”·] _____*/
/*_____ ğ”…ğ”¢ğ”¤ğ”¦ğ”« graphic list style [ğ”°ğ”¶ğ”ªğ”Ÿğ”¶ğ”ğ”«ğ”·] _____*/
.graph {
    &__wrap {
        position: relative;
        picture {
            position: relative;
        }
    }
    &__glow {
        position: absolute;
        right: -15px;
        top: calc(50% - 25px);
        width: 56px;
        height: 50px;
    }
    &__arrow {
        position: absolute;
        right: 0px;
        top: calc(50% - 4px);
        width: 12px;
        height: 12px;
    }
}
/*_____ ğ”ˆğ”«ğ”¡ graphic list style [ğ”°ğ”¶ğ”ªğ”Ÿğ”¶ğ”ğ”«ğ”·] _____*/

/*_____ ğ”…ğ”¢ğ”¤ğ”¦ğ”« owl adding settings [ğ”°ğ”¶ğ”ªğ”Ÿğ”¶ğ”ğ”«ğ”·] _____*/
.listing .owl-carousel {
    width: 100%;
}
.listing .owl-carousel .owl-item img {
    width: auto;
}
.listing .owl-item {
    width: 270px !important;
    height: 64px;
    @media (max-width: $md4 + px) {
        height: 36px;
    }
}
/*_____ ğ”ˆğ”«ğ”¡ owl adding settings [ğ”°ğ”¶ğ”ªğ”Ÿğ”¶ğ”ğ”«ğ”·] _____*/
